.experience-screen {
    background-image: url('../../../public/images/backgrounds/bg2-final.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @apply bg-yellow bg-blend-multiply bg-opacity-100;
}